@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
	font-family: 'Arkhip';
	src: url('../fonts/arkhip.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/arkhip.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/arkhip.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/arkhip.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/arkhip.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/arkhip.svg#arkhip') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
   font-family: 'Brody';
   src: url('../fonts/Brody.ttf') format('truetype');
}

//Файл обнуляющих стилей

@import 'nullstyle.scss';

 .text{
  font-weight: 700;
  font-family: "PT Sans";
  font-size: 30px;
  line-height: 35px;
  p{margin: 0px 0px 30px 0px ;}
 }
 .text-PFD{
  font-weight: 700;
  font-family: "Arkhip";
  font-size: 30px;
  line-height: 35px;
 } 