@import url(nul);
.block {
  padding: 30px;
  font-size: 54px;
  line-height: 60px;
}
.block .block__text {
  font-size: 100px;
}
.block .block__text span {
  color: green;
}

.link {
  color: #000;
  text-decoration: underline;
  font-size: 100px;
}
.block .link {
  font-size: 100px;
}
.link:hover {
  color: #fff;
}