@import url(nul);
/* %tplborder{
   font-size: 100px;
   border-bottom: 5px dashed red;
}*/
.tplborder, .link-2, .link {
  font-size: 50px;
  border-bottom: 5px dashed red;
}

.block {
  padding: 30px;
  font-size: 54px;
  line-height: 60px;
}
.block .block__text {
  font-size: 100px;
}
.block .block__text span {
  color: green;
}

.link {
  font-size: 80px;
  color: green;
  color: #000;
  text-decoration: underline;
  font-size: 100px;
}
.block .link {
  font-size: 100px;
}
.link:hover {
  color: #fff;
}

.link-2 {
  font-size: 80px;
  /*@extend %tplborder;*/
  border-bottom: 5px dashed #000;
  font-size: 50px;
  color: green;
}