@import url(nul);

$fz:100px;
$color_1: #000;
$color_2:#fff;

//Так же можно
/* %tplborder{
   font-size: 100px;
   border-bottom: 5px dashed red;
}*/
.tplborder{
   font-size: 50px;
   border-bottom:5px dashed red;
}
.block{
   padding: 30px;
   font-size: 54px;
   line-height: 60px;
   .block__text{
      font-size: $fz;
      span{
         color: green;
      }
   }
}
.link{
   color: $color_1;
   text-decoration: underline;
   font-size: $fz;

   .block &{
      font-size: $fz;
   }

   &:hover{
      color: $color_2;
   }
   @extend .tplborder;
}
.link-2{
   font-size: 80px;
   /*@extend %tplborder;*/
   @extend .tplborder;
   border-bottom: 5px dashed #000;
}